<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fraction Converter
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="to-binary" href="/tabs/to-binary">
      <ion-icon aria-hidden="true" name="dice"></ion-icon>
      <ion-label>To Binary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="to-decimal" href="/tabs/to-decimal">
      <ion-icon aria-hidden="true" name="pie-chart"></ion-icon>
      <ion-label>To Decimal</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
